<div class="col-xs-6">
    <div class="panel panel-default enemyArea">
        <span class="enemyName" id="enemyName">Enemy</span>
        <img src="assets/images/output_image.png" />
    </div>
</div>
<section class="col-xs-5" id="battleScreen">
    <div class="panel panel-default">
        <div id="collapseBattle" class="panel-collapse collapse in">
            <article class="panel-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-11">
                                <div class="enemy-stats">
                                    STR: <span id="enemyStr">0</span>
                                    DEX: <span id="enemyDex">0</span>
                                    CON: <span id="enemyCon">0</span>
                                </div>
                                <div class="enemy-health">
                                    <div class="progress">
                                        <div id="enemyBar" class="progress-bar progress-bar-danger" role="progressbar"
                                            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                            <span id="enemyHp">0</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-danger" onClick="enemies.attackMelee()">Fight</button>
                            </div>
                            <div class="col-xs-6">
                                <button class="btn btn-block btn-warning" onClick="enemies.runAway()">Run</button>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<section class="col-xs-5" id="logScreen">
    <footer class="panel combat-panel">
        <div class="panel-collapse collapse in">
            <aside class="col-xs-3">
            </aside>
            <div class="combat-log">
                <div class="col-xs-12"><span id="combatLog"></span></div>
            </div>
        </div>
    </footer>
</section>