<div class="col-xs-6">
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet" />
  <div class="panel panel-default heroArea">
    <span class="heroName">Jinx</span>
    <img src="assets/images/anime.jpg" />
  </div>
  <div class="col-xs-12" id="spellEffects"></div>
</div>
<div class="col-xs-6">
  <div class="panel panel-default">
    <div class="panel-heading" data-toggle="collapse" data-target="#collapseStatusScreen">
      <div class="row">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-xs-11">
              <div class="progress" data-toggle="tooltip" data-placement="top"
                title="Your health. You die if this gets to 0." style="margin-bottom: 5px">
                <div id="hpbar" class="progress-bar progress-bar-danger" role="progressbar" style="width: 100%">
                  <span id="hp">0</span>/<span id="hpmax">0</span>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-11">
              <div class="progress" data-toggle="tooltip" data-placement="top"
                title="Your mana. You cannot cast spells without this." style="margin-bottom: 0px">
                <div id="mpbar" class="progress-bar progress-bar-info" role="progressbar" style="width: 100%">
                  <span id="mp">0</span>/<span id="mpmax">0</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="collapseStatusScreen" class="panel-collapse collapse in">
      <div class="panel-body"></div>
    </div>

    <div class="panel-heading collapseStatusScreenArea" data-toggle="collapse" data-target="#collapseStatusScreen">
      <div class="row">
        <div class="col-xs-12">
          <table class="table tableStats">
            <tr>
              <td>
                <div class="playerInfo"><span id="pGold"> 0</span></div>
              </td>
              <td>
                <div class="playerInfo"><span id="pKeys"> 0</span></div>
              </td>
              <td>
                <div class="playerInfo"><span id="pMaps"> 0</span></div>
              </td>
              <td>
                <div class="playerInfo"><span id="pRoses"> 0</span></div>
              </td>
            </tr>
            <!-- <tr>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                            <td>
                                <div></div>
                            </td>
                        </tr> -->
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" id="spellBook"></div>
  </div>
</div>