<div class="col-xs-12">
  <div class="panel panel-default">
    <div
      class="panel-heading"
      data-toggle="collapse"
      data-target="#collapseTower"
    >
      <div class="row">
        <div class="col-xs-3">
          <h3 class="panel-title">Portal</h3>
        </div>
        <div class="col-xs-9 text-right">
          You are currently at Floor <span id="floor">0</span>.
        </div>
      </div>
    </div>
    <div id="collapseTower" class="panel-collapse collapse in">
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="progress">
              <div
                id="floorbar"
                class="progress-bar"
                role="progressbar"
                style="width: 0%"
              >
                <span id="explperc">0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="towerUI">
          <div class="col-xs-3">
            <span id="retbut"></span>
          </div>
          <div class="col-xs-3">
            <span id="exploreButton"></span>
          </div>
          <div class="col-xs-3">
            <span id="restButton"></span>
          </div>
          <div class="col-xs-3">
            <span id="advbut"></span>
          </div>
          <div class="col-xs-3">
            <span id="enterTowerButton"><button class="btn btn-default btn-block" onClick="tower.startSession()">Enter Session</button></span>
          </div>
          <div class="col-xs-3">
            <span id="resumeTowerButton" style="display: none"></span>
          </div>
          <div class="col-xs-3">
            <span id="abandonTowerButton" style="display: none"></span>
          </div>
          <div class="col-xs-3">
            <span id="claimRewardButton" style="display: none"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-xs-12">
          <span id="floorlog">Nothing happened here yet.</span>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    tower.loadTowerScreen();
    console.log("The Tower loaded");
</script>