<div role="tabpanel" class="tab-pane" id="upgradesTab">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseUpgrades1">
                    <div class="row">
                        <div class="col-xs-5">
                            <h3 class="panel-title"><img src="assets/images/plain-arrow.png" alt="Arrow Icon" style="height: 25px;"> Upgrades</h3>
                        </div>
                        <div class="col-xs-7 text-right">
                            Excelia: <span id="excelia">0</span>
                        </div>
                    </div>
                </div>
                <div id="collapseUpgrades1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <span id="upgrades"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseEffects">
                    <h3 class="panel-title"><img src="assets/images/plain-arrow.png" alt="Arrow Icon" style="height: 25px;"> Upgrade Effects:</h3>
                </div>
                <div id="collapseEffects" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <ul class="list-group" style="margin-bottom:0;">
                            <span id="permanent"></span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
